---
layout: layout.html
---

<section id="product_info">
  <h1 class="name">{{ title }}</h1>
  <h2 class="name">Conselheiro Lafaiete - {{ type }}</h2>

  <div id="details">
    <div class="photo">
      <img src="/imgs/{{ photo }}" alt="{{ title }}">
    </div>
    <div class="data">
      <div class="description">
        {{ content }}
      </p>
      <p class="price">{{ price }}</p>
      <a href="https://wa.me/5531993434414?text=Vim do site e tenho interesse na {{ title }}" class="button">
        RESERVAR
      </a>
    </div>

  </div>
</section>
<section id="testimonials">
  <div class="container">
    <h2>Clientes Satisfeitos</h2>
    <div class="cards">
      <div class="testimonial">
        <p class="who">Mariana Costa</p>
        <p class="stars">★★★★★</p>
        <p class="content">
          Comprei uma cesta para o aniversário da minha mãe e foi simplesmente incrível! Cada detalhe estava perfeito, e ela ficou emocionada com o capricho. Super recomendo, atendimento impecável!
        </p>
      </div>
      <div class="testimonial">
        <p class="who">Juliana Mendes</p>
        <p class="stars">★★★★★</p>
        <p class="content">
          Presenteei meu noivo com uma cesta e ele adorou! A apresentação estava impecável e os produtos de altíssima qualidade. Foi uma experiência inesquecível!
        </p>
      </div>
      <div class="testimonial">
        <p class="who">Carlos Almeida</p>
        <p class="stars">★★★★★</p>
        <p class="content">
          Escolhi a Memorare para um pedido de desculpas e foi perfeito! A cesta foi entregue com muito carinho e superou todas as minhas expectativas. Um serviço incrível!
        </p>
      </div>
    </div>
  </div>
</section>