---
layout: layout.html
---

<section id="product_info">
  <div class="photo">
    <img src="/imgs/{{ photo }}" alt="{{ title }}">
  </div>
    <div class="data">
    <h3 class="name">{{ title }}</h3>
    <p class="type"><span class="bold"> Tipo:</span> {{ type }}</p>
    <div class="description">
      {{ content }}
    </p>
    <p class="price">{{ price }}</p>
    <a href="https://wa.me/5524988376332?text=Vim do site e tenho interesse na {{ title }}" class="button">
      Reservar
    </a>
  </div>
</section>
