:root {
  --primary-100:#7E827A;
  --primary-200:#63675f;
  --primary-300:#292d26;
  --accent-100:#BFAE9E;
  --accent-200:#615344;
  --text-100:#2E2E2E;
  --text-200:#575757;
  --bg-100:#F5EFE6;
  --bg-200:#ebe5dc;
  --bg-300:#c2bdb4;
  --bg-dark: #3e3129;
}

@font-face {
  font-family: 'calistoga';
  src: url('../fonts/Calistoga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  display: none;
}

body {
  margin: 0;
  color: var(--text-100);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  font-family: 'Poppins', serif;
}

h2 {
  text-align: center;
  padding: 0 20px;
  font-size: 27px;
  font-weight: bold;
}

header {
  z-index: 99;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  background-color: var(--bg-dark);
  padding: 0 20px;
  box-sizing: border-box;
}

header #logo {
  max-height: 100px;
  max-width: 200px;
  display: flex;
  align-items: center;
}

header #logo a {
  height: 100%;
  box-sizing:border-box;
  margin: 15px;
}


header #logo img {
  width: 100%;
  height: 100%;
  max-height: 70px;;
  object-fit: contain;
}

header div ul{
  list-style: none;
}

header div li {
  display: inline-block;
}

header div li a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  transition: .2;
}

header div li a:hover {
  text-decoration: underline;
  padding: 10px;
}

section#banner img{
  display: block;
  width: 100%;
  height: auto;
}


section#cover{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #5b3f26;
  z-index: 0;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  justify-items: center;
}

section#cover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../imgs/width_787.webp'); 
  /* background-size: cover; */
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

section#cover .contact div {
  margin-bottom: 10px;
  color: #fff;
}

section#cover .text{
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

section#cover .text .data{
  width: 80%;
  font-size: 16px;
}

section#cover .text h1{
  font-size: 26.4px;
  color: #fff;
  line-height: 1.13;
}

section#cover .text p{
  padding-bottom: 15px;
  font-size: 15.4px;
  color: #fbdc99;
  line-height: 1.5;
  text-align: justify;
}

section#cover .images{
  flex: 1 1;
}

section#cover .images img{
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #1a1a1a;
  border-radius: 22px;
}

section#cover .text a {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  transition: .2s;
}

section#cover .text a:hover {
  text-decoration: underline;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

section#highlights {
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: #bf5b04;
  padding: 30px 0;
  flex-wrap: wrap;
}

section#highlights .image {
  flex: 3 3;
  height: auto;
  max-width: 100%;
  display: block;
  padding: 0 0px 0 50px;
  position: relative;
}

section#highlights .image::after {
  content: "";
  position: absolute;
  width: 70%;
  background-color: rgba(242, 178, 99, 0.39);
  height: 90%;
  top: -15px;
  left: 50px;
  /* transform: translateX(-%); */
  z-index: -1;
  border-radius: 64px;
  border-top-left-radius: 0;
}

section#highlights .image img {
  display: block;
  border-radius: 29px;
  height: 100%;
  object-fit: cover;
  max-width: 70%; 
  margin: 0 auto;
}

section#highlights .text {
  flex: 4 4;
  text-align: left;
  padding: 0 50px;
}

section#highlights .text h2 {
  text-align: left;
  padding: 0;
}

section#highlights .see_all {
  color:  #bf5b04;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #f2b263;
  padding: 10px 30px;
  margin-top: 15px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-radius: 17px;
  width: 30vw;
}

section#highlights .see_all:hover {
  color: #fff;
  background-color: #f2b263;
  border: 1px solid #f2b263;
  text-align: center;
}


section#testimonials {
  box-sizing: border-box;
  text-align: center;
  background: rgba(242, 178, 99, 0.39);
  background: linear-gradient(180deg,rgba(242, 178, 99, 0.39) 0%, rgba(255, 255, 255, 1) 100%);
  padding: 50px 0;
  color: var(--text-100);
}

section#testimonials .container{
  position: relative; 
  z-index: 1; 
}

section#testimonials p {
  margin: 0;
  text-align: left;
}

section#testimonials .cards {
  display: flex;
  flex-wrap: wrap;
}

section#testimonials .testimonial {
  flex: 1 1 calc(33.333% - 180px);
  padding: 20px;
  background: #fff;
  margin: 10px 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #999999;
}

/* section#testimonials .testimonial::before {
  content: "\"";
  color: #5b3f26;
  font-size: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

section#testimonials p.content {
  font-size: 16px;
}

section#testimonials p.who {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1px;
}

section#testimonials p.stars {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #f6bf32;
}

section#testimonials .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

section#contact_us{
  background-color: rgba(242, 178, 99, 0.39);
  background-image: url('../imgs/cesta\ 8.jpg'); /* Caminho da imagem */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 100px 20px;
}

section#contact_us h2{ 
  color: #bf5b04;
  padding: 20px 0 0;
  margin-bottom: 0;
}

section#contact_us p{ 
  color: #bf5b04;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

section#contact_us > div{ 
  background-color: #fff;
  border-radius: 36px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

section#contact_us div .container{ 
  display: flex;
  flex-wrap: wrap;
}

section#contact_us div .item{ 
  font-size: 18px;
  flex: 1 1 calc(33.333% - 10px);
}

section#contact_us .item .icon{ 
  border-radius: 50%;
  border: 2px solid #f2b263;
  box-sizing: border-box;
  text-align: center;
  width: 75px;
  height: 75px;
  line-height: 75px; 
  margin: 10px auto 20px;
  color: #f2b263;
  font-size: 40px;
}


section#products {
  color: #bf5b04;
  padding: 30px 0;
  display: block;
}


section#products p {
  text-align: center;
  padding: 0;
  margin: 0;
}
section#products h2 {
  margin-bottom: 0;
}

section#products .container {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: var(--text-100);
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

section#products .product {
  flex: 1 1 calc(25% - 16px);
  max-width: calc(25% - 16px);
  align-self: stretch;
  position: relative;
  flex-grow: 1;
  padding-top: 54px;
}

section#products .product img {
  width: 100%;
}

section#products .product img {
  width: 100%;
  border-radius: 29px;
}


section#products .product_data {
  flex-grow: 1;
}

section#products .product h3 {
  color: #bf5b04;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 0;
  font-size: 18px;
}

section#products .product .type {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}

section#products .product .price {
  font-weight: 500;
  margin: 5px 0;
}


section#products .product a.button {
  color: #bf5b04;
  text-decoration: none;
  border: 1px solid #f2b263;
  padding: 5px 15px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  box-sizing: border-box;
  transition: .2s;
  margin-top: auto;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
}

section#products .product a.button:hover {
  color: #fff;
  background-color: #f2b263;
  border: 1px solid #f2b263;
  padding: 5px 15px;
  margin: 0 auto;
  text-align: center;
}

section#products .see_all {
  color:  #bf5b04;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #f2b263;
  padding: 10px 30px;
  margin: 10px auto 0;
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-radius: 17px;
  width: 30vw;
}

section#products .see_all:hover {
  color: #fff;
  background-color: #f2b263;
  border: 1px solid #f2b263;
  text-align: center;
}

span.bold {
  font-weight: 600;
}

section#product_info {
  display: flex;
  padding: 20px;
}

section#product_info .photo{
  flex: 1 1 50%;
}

section#product_info .data{
  flex: 1 1 50%;
  margin-left: 20px;
  box-sizing: border-box;
}

section#product_info .photo img{
  max-width: 100%;
}


section#product_info .data .name{
  text-align: center;
}

section#product_info .data .description p{
  margin-top: 5px;
}

section#product_info .data .price{
  font-weight: 600;
}


section#product_info .data a.button {
  color: var(--text-100);
  text-decoration: none;
  border: 1px solid var(--text-100);
  padding: 5px 15px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  box-sizing: border-box;
  transition: .2s;
}

section#product_info .data a.button:hover {
  color: #fff;
  background-color: var(--text-100);
  border: 1px solid var(--text-100);
  padding: 5px 15px;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: #5b3f26;
  color: #fff;
  z-index: 0;
  padding: 70px 0 20px;
  position: relative;
  overflow: hidden;
}

footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../imgs/width_787.webp'); 
  /* background-size: cover; */
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

footer h3 {
  margin: 0 auto 10px;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
}

footer p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}


footer .container{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px ;
}


footer p.title {
  font-weight: 800;
  margin-bottom: 5px;
}

footer p.content {
  margin-bottom: 20px ;
}

footer .links a.content {
  margin-bottom: 0px;
}

footer a.content {
  margin-bottom: 20px ;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 5px 0;
}

footer a.content:hover {
  text-decoration: underline;
}


footer div ul{
  list-style: none;
  padding: 0;
}

footer div li {
  display: inline-block;
}

footer div li a {
  text-decoration: none;
  color: #fff;
  padding: 0px 8px;
  font-size: 2rem;
}

footer .right {
  text-align: center;
  font-size: 14px;
}

#whatsapp .wtsapp:focus {border: 0; outline: 0;}

#whatsapp .wtsapp {
    position: fixed;
    transition: all .5s ease;
    background: #25d366;
    bottom: 10px;
    right: 20px;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-right: 0;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    border: 0;
    z-index: 999;
    width: 70px;
    height: 70px;
    line-height: 48px;
}

#whatsapp i::before {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}


#whatsapp .wtsapp:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #25d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
    0 {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@media screen and (max-width: 480px){

  section#products .product{
    flex: 1 1 100%;
  }

  section#product_info{
    display: block;
  }
  
}


@media screen and (max-width: 768px) {
  section#cover {
    display: block;
    height: auto;
  }

  section#cover .text .data{
    width: 100%;
    text-align: center;
  }
  
  section#cover .images{
    flex: 1 1;
  }

  section#products .product{ 
    flex: 1 1 calc(50% - 8px); 
    max-width: calc(50% - 8px);
  }

  footer .container{
    display: block !important;
    text-align: center;
  }

  footer div ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: auto;
  }

  section#testimonials .slider {
    display: block;
  }

  section#testimonials .testimonial, section#contact_us div .item  {
    flex: 1 1 100%;
  }
  

  section#products .see_all, section#highlights .see_all {
    width: 100%;
  }

  section#highlights .text{
    padding: 0 20px;
    flex: 1 1 100%;
  }

  section#highlights .image{
    padding: 0 20px;
    flex: 1 1 100%;
  }

  section#contact_us p {
    margin-bottom: 10px;
  }

  footer .right {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  
  section#highlights .image img {
    height: 50%;
  }


  section#highlights .image::after {
    height: 50%;
  }
}